.footer {
	display:flex;
	padding:10px;
	align-items: center;
	justify-content: center;
	border-radius:15px;
	flex-shrink:0;
	margin-top: 0%;
	bottom:0;
	width:100%;
	
}

#container-footer {
	background-color: rgb(56, 70, 84);
}

#footer {
	background-color: rgb(56, 70, 84);
}

.cardbody {
	justify-content: center;
	align-items: center;
	background-color: rgb(56, 70, 84);	
}
	.iconos a {
		display:inline-block;
		margin: 5px;
		
	}

 #img-icon {
		height: 25px;
		background-color: dimgrey;
  }

  @media only screen and (max-width: 768px) {

  }

  @media only screen and (max-width:468px) {

	.footer {
		position:relative;
	}
	.pagination {
		size:"sm";
		overflow-y: hidden;
	}
  }