.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-color: rgb(0, 0, 0);
	border-radius: 15px;
	margin-top: 0px;
	padding: 0px 0px;
	top: 0px;
	
}

.sticky-top {
	position: sticky;
	top:0;
}

.cabecera-logo {
	flex-grow: 0;
}

.logo {
	display: inline-flex;
	height: 120px;
	border-radius: 40px;
}

.cabecera-texto {
	flex-grow: 1;
	align-content: center;
}

.cabecera-texto h1 {
	font-size: 28px;
	margin: 0;
}

.menu {
	flex-grow: 0;
	height: min-content;
	width: 15vw;
	align-items: end;
}

#expand-btn {
	display: inline-flex;
	margin-top: -5px;
	padding: 5px 11px;
	background-color: rgb(233, 209, 29);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#no-expand-btn {
	margin-top: -5px;
	display: inline-flex;
	cursor: pointer;
}

#menu-hamburger {
	display: none;
	opacity: 0;
}


.expandable {
	display: flex;
	border-radius: 5px;
	border: none;
	border-color: none;
	align-items: end;
	justify-content:flex-end ;
	background: #beacac;
	color: aqua;
	visibility: collapse;
	margin: 2px;
	cursor: pointer;
}

#menu-hamburger:checked~* .expandable {
	visibility: visible;
}

#menu-hamburger:checked~#expand-btn {
	background-color: #ccc;
	visibility: collapse;
}

#menu-hamburger:not(:checked)~#no-expand-btn {
	background-color: #ccc;
	visibility: collapse;
}

@media only screen and (max-width: 768px) {
	.header {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}

.expandable {
	display:flex;
	flex-direction: column;
}
	@media only screen and (max-width: 468px) {
		.header {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			overflow: hidden;

		}

		.logo {
			height:80px;
			border-radius: 5px;
		}

		#expand-btn {
			margin-top: 0;
			
		}
	}
}