.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	height:fit-content;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-color: rgb(0, 0, 0);
	border-radius: 15px;
	margin-top: 0px;
	padding: 0px 0px;
	top: 0px;
	
}

.sticky-top {
	position: sticky;
	top:0;
}

.cabecera-logo {
	flex-grow: 0;
}

.logo {
	display: inline-flex;
	border-radius: 40px;
	height: 8em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
  }
  .logo:hover {
	filter: drop-shadow(0 0 2em #3cf703aa);
  }
  .logo.react:hover {
	filter: drop-shadow(0 0 2em #f5f1f2aa);
  }
  
.cabecera-texto {
	text-align: center;
}

.cabecera-texto h1 {
	font-size: 38px;
	margin: 10;
}

.menu {
	flex-grow: 0;
	height: min-content;
	width: 15vw;
	align-items: end;
}

#expand-btn {
	display: inline-flex;
	margin-right: 0px;
	background-color: rgb(233, 209, 29);
	color:black;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	
	}

#modal-iniciar {
	display:flex;
	height:100%;
	width:100%;
}	

.modal-body {
	display:flex;
	justify-content: space-around;
	
}



@media only screen and (max-width: 768px) {
	
.expandable {
	display:flex;
	flex-direction: column;
}


	@media only screen and (max-width: 468px) {
		.header {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			}

		.logo {
			height:80px;
			border-radius: 5px;
		}

		
	}
}