.form-registro {
    margin-top:40px;
    background-color: darkslategrey;
}

.card-footer {
    justify-content: center;
    align-items: center;
   
    height:50px;
}

.form-label {
    color:white;
}
.bton-registro {
    height:40px;
    width:60%;
    background-color:#12ff89;
    overflow:hidden;
}

.bton-registro span {
    color:black;
}