
.contenedor {
    margin-top:80px;
    display: inline-flex;
    height: 100%;
    align-content: center;
    justify-content: center;
   
}

.form-login {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.input-group span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0;
    }

   
.card-title {
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
  }



#login-btn {
    float: right;
    color: black;
    background-color: #FFC312;
    width: 100px;
    height: 40px;
}

#login-btn:hover {
    color: black;
    background-color: white;
}

#h-5 {
   text-align:center; 
}


.card-footer span{
    padding-right: 12px;
    color:rgb(255, 255, 255);
}

.enlace-registro {
    color:rgb(0,0 , 255);
}

.enlace-registro:hover {
   color:#FFC312;
}